<div class="container my-3">
  <h2>Booking Index</h2>

  <ul>
  <% @bookings.each do |booking| %>
    <li><%= link_to "#{@datexes.find(booking.id).title} - #{booking.fecha}", booking_path(booking) %></li>
  <% end %>
  </ul>
</div>
