<div class="container my-3">
  <h2>Bookings - SHOW</h2>

  <%= @booking.fecha %>

<br>
  <%= link_to 'Edit Booking', edit_booking_path(@booking) %>
  <%= button_to 'Delete Booking', booking_path(@booking), method: :delete %>


</div>
